body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header{
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    width: 100%;
    display: flex;
}

#logo{
    float: left;
    margin-left: 10px;
    height: 50px;
    align-self: center;
}